 table {
            border-style: groove;
            border-width:3px;
            width:100%;
            border-spacing:3px;
            border-color:DarkBlue;
            text-align:center;
            
          }
          caption {
            font-family:sans-serif;
            font-size:40pt;
            border-style:dotted;
            border-color:purple;
            border-width:10px;
            text-shadow: 2px 2px 4px purple;
          }
          td {
            border-style:groove;
            border-color:green;
            border-width:5px;
            background-color:aqua;
            text-align:center;
            font-size:15pt;
            color:green;
          }
          th {
           font-size:20pt;
           color:purple;
          }
          
          .lunch {
           border-color:purple;
           font-family:fantasy;
           color:red;
          }
