          h1  {
            color: #1E90FF;
            font-size:50pt;
            font-family:sans-serif;
            border-style:groove dotted groove;
            border-color:pink purple pink;
            border-width:10px;
            background-color:yellow;
            width:800px;
            margin-left:20%;
          }
          h3  {
            color:DarkOrchid;
            font-size:30pt;
            font-family:serif;
            text-decoration:underline;
          }
          strong {
            color:RoyalBlue;
            font-family:fantasy;
            font-size:20pt;
          }
          body {
            background-color:PowderBlue;
            text-align:center;
          }
          ul {
            list-style-type:none;
            text-align:center;
          }
          ol {
            list-style-position:inside;
            text-align:center;
          }
          img {
            border-style:inset;
            border-width:3px;
            border-color:black purple;
          }
          section {
            margin:auto;
           
          }
          .goodbye {
            color:green;
            font-family:fantasy;
            font-size: 35pt;
          }
          strong#fun {
            color: rgb(00,00,00);
            font-size:20pt;
          }
          .links {
            color:purple;
            font-size:15pt;
            text-decoration:underline;
          }
          
          #chicken1 {
           width:300px;
           left:-500px;
           position:relative;
          }
          #chicken2 {
           width:300px;
           right:500px;
           position:relative;
          }
